/* source: https://css-tricks.com/making-pure-css-playpause-button/ */

.button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
  
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
  
    /* play state */
    border-style: solid;
    border-width: 37px 0 37px 60px;
    margin: 30px 0 30px 30px;
}

.button.playing {
    border-style: double;
    border-width: 0 0 0 60px;
}

.button:hover {
    border-color: transparent transparent transparent #009be3;
}
